
/node_modules
/build
.env
# Ignore environment variable files
./client/.env
./server/.env

# Kubernetes secrets
k8s-client-secret.yaml
k8s-server-secret.yaml

# helm charts secrets
helm/templates/server-secret.yaml
helm/templates/client-secret.yaml

# Terraform state files
terraform/terraform.tfvars
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.37.0/linux_amd64/terraform-provider-google_v6.37.0_x5
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/terraform-provider-null_v3.2.4_x5
